*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: myriad-pro, sans-serif;
  margin: 0;
  color: #3a3a3a;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  color: #fff;
  background-color: #db3838;
  border: #db3838;
  cursor: pointer;
}

.btn__search {
  display: inline-block;
  position: relative;
  width: 71px;
  height: 56px;
  font-size: 20px;
  color: #fff;
  background-color: #db3838;
  border: 1px solid black;
  left: -5px;
  top: -31px;
}

.btn__tags {
  position: relative;
  padding: 10px 35px;
  font-size: 15px;
  transform: translate(0px, 9px);
}

.btn__menWomen {
  font-size: 15px;
  padding: 23px 91px;
}

.btn__card {
  position: absolute;
  font-size: 16px;
  bottom: 5px;
  right: 5px;
  padding: 10px 18px 9px 20px;
}

.btn__card--fix {
  bottom: -11px;
  right: 2px;
}

.btn__carusel {
  position: absolute;
  outline: none;
  color: #fff;
  font-size: 47px;
  background: none;
  border: #fff 5px solid;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  cursor: pointer;
  z-index: 1;
}

.btn__carusel--left {
  top: 240px;
  left: 31px;
  padding-right: 12px;
}

.btn__carusel--right {
  top: 240px;
  right: 31px;
  padding-left: 12px;
}

.btn__small-carusel {
  color: #818181;
  border: #818181 solid 2px;
  height: 39px;
  width: 39px;
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__small-carusel--left {
  right: 59px;
  padding-right: 12px;
}

.btn__small-carusel--right {
  right: 8px;
  padding-left: 12px;
}

.head {
  height: 45px;
  border-bottom: 1px solid #e1e1e1;
}

.head__wrapper {
  display: flex;
}

.head__column {
  position: relative;
  top: -2px;
  flex: 1;
  text-align: center;
  font-size: 14px;
}

.head__column--center {
  padding: 0 40px;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

.navbar__wrapper {
  position: relative;
  height: 134px;
  width: 100%;
  z-index: 2;
}

.navbar__logo {
  display: inline-block;
  height: 134px;
  width: 274px;
  background-color: #fff;
  transform: translate(-29px, 10px);
}

.navbar__img {
  margin: 26px 0 0 27px;
}

.navbar__form {
  display: inline-block;
  border: 1px solid #e1e1e1;
  margin-left: 64px;
  transform: translateY(-33px);
}

.navbar__search {
  display: inline-block;
  width: 310px;
  height: 52px;
}

.navbar__search--imput {
  padding-left: 13px;
  width: 96%;
  height: 95%;
  border: none;
  font-size: 14px;
  outline: none;
}

.navbar__toggle {
  display: inline-block;
  text-align: center;
}

.navbar__toggle--categories {
  width: 220px;
  height: 52px;
  padding: 14px 31px 16px 44px;
  text-decoration: none;
  color: #3a3a3a;
}

.navbar__toggle--categories > i {
  margin-left: 43px;
}

.navbar__toggle--categories::before {
  content: '';
  display: inline-block;
  background-color: #3a3a3a;
  height: 19px;
  width: 1px;
  transform: translate(-46px, 4px);
}

.navbar__list {
  position: absolute;
  background-color: white;
  padding: 0;
  display: none;
  width: 220px;
}

.navbar__list li {
  list-style-type: none;
  margin-top: 5px;
  padding: 10px;
  background-color: #fff;
}

.navbar__list li:hover {
  background-color: #db3838;
}

.navbar__list a {
  text-decoration: none;
  color: #3a3a3a;
}

.navbar__toggle:hover .navbar__list {
  cursor: pointer;
  display: block;
}

.navbar__social-media {
  display: inline-block;
  margin-left: 27px;
  transform: translateY(-27px);
}

.navbar__social-media--icon {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin-right: 10px;
  color: #3a3a3a;
  font-size: 20px;
  width: 25px;
  height: 25px;
  border: #3a3a3a solid 1px;
  padding: 7px;
  border-radius: 50%;
}

.menu {
  position: relative;
  width: 100%;
  height: 74px;
  background-color: #000;
}

.menu__element {
  display: inline-block;
}

.menu__element ul {
  position: relative;
  margin: 0;
  padding: 0;
  left: 12px;
}

.menu__element ul li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

.menu__element ul li:hover {
  background-color: #db3838;
  color: #fff;
}

.menu__item {
  text-decoration: none;
  font-size: 22.50px;
  font-weight: 300;
  color: #fff;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__item--home {
  padding: 0 21px;
}

.menu__item--home::before {
  position: absolute;
  bottom: -2px;
  content: " ";
  width: 99px;
  height: 7px;
  background-color: #db3838;
}

.menu__item--shop {
  padding: 0 26px;
}

.menu__item--fetures {
  padding: 0 27px;
}

.menu__item--megaGroup {
  padding: 0 31px;
}

.menu__item--about {
  padding: 0 38px;
}

.menu__item--blog {
  padding: 0 20px;
}

.menu__item--contact {
  padding: 0 28px;
}

.menu__cart {
  display: inline-block;
  background-color: #db3838;
  width: 229px;
  height: 73px;
  transform: translate(25px, -2px);
}

.menu__item--cart {
  font-size: 20px;
  letter-spacing: 1px;
}

.menu__item--cart i {
  font-size: 17px;
  position: relative;
  left: -11px;
}

@keyframes carusel {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.carusel {
  position: relative;
  max-width: 2000px;
  height: 608px;
  margin: 0 auto;
  color: #fff;
}

.carusel__item {
  position: absolute;
  display: none;
}

.carusel__item--active {
  display: block;
  animation: carusel 4s;
}

.carusel__img {
  width: 100%;
  height: 608px;
  object-fit: cover;
  background-size: cover;
}

.carusel__caption {
  position: absolute;
  text-align: center;
  top: 136px;
  right: 0;
  left: 0;
}

.carusel__text--h1 {
  margin: 0;
  letter-spacing: -1px;
  font-size: 86px;
}

.carusel__text--h2 {
  font-size: 43px;
  margin: 0;
  transform: translateY(9px);
}

.carusel__text--new {
  margin: 0;
  font-size: 25px;
}

.carusel__text--for {
  margin: 0;
  font-size: 34px;
}

.carusel__text--for::before, .carusel__text--for::after {
  content: "";
  position: relative;
  background-color: #fff;
  display: inline-block;
  width: 124px;
  height: 2px;
}

.carusel__text--for::before {
  transform: translate(-16px, -8px);
}

.carusel__text--for::after {
  transform: translate(13px, -8px);
}

.tags {
  position: relative;
  top: -1px;
}

.tags__text {
  height: 118px;
}

.tags__text > ul {
  position: relative;
  left: 28px;
  top: 15px;
  width: 100%;
  padding: 0;
}

.tags__text > ul > li {
  display: inline-block;
  list-style-type: none;
  margin: 0 auto;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: -0.5px;
}

.tags__link--icon {
  font-size: 15px;
  margin-right: 9px;
  transform: translateY(-2px);
}

.tags__link {
  text-decoration: none;
  margin-right: 32px;
  color: #3a3a3a;
}

.tags__link--dots::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 2px;
  height: 10px;
  border-top: black solid 2px;
  border-bottom: black solid 2px;
  transform: translateX(17px);
}

.tags__link--p {
  margin-right: 21px;
}

.tags__gallery {
  height: 281px;
  width: 100%;
  display: flex;
}

.tags__wrapper {
  position: relative;
  flex: 1;
  margin: 0 13px;
}

.tags__img {
  max-width: 372px;
  height: 100%;
}

.tags__img--center {
  transform: translateX(2px);
}

.tags__caption {
  position: absolute;
  text-align: center;
  top: 59px;
  left: 0;
  right: 0;
}

.tags__caption--title {
  position: relative;
  color: #fff;
  font-weight: 400;
  font-size: 29px;
  top: 0;
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
}

.decoration--tags {
  position: relative;
}

.decoration--tags::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 281px;
  min-width: 700px;
  background-color: #ebebeb;
  left: -725px;
}

.menWomen {
  position: relative;
  top: -21px;
}

.menWomen__gallery {
  display: flex;
}

.menWomen__wrapper {
  flex: 1;
  height: 443px;
  width: 570px;
  display: flex;
  margin: 0px 13px;
  position: relative;
}

.menWomen__button {
  position: relative;
  right: -1px;
}

.menWomen__button--men {
  top: 35px;
}

.menWomen__button--women {
  top: 15px;
}

.decoration {
  position: relative;
}

.decoration--men::after {
  content: "";
  position: absolute;
  height: 535px;
  min-width: 700px;
  background-color: #ebebeb;
  top: -93px;
  right: -714px;
}

.decoration--women::before {
  content: "";
  position: absolute;
  height: 543px;
  min-width: 700px;
  background-color: #ebebeb;
  top: -98px;
  left: -733px;
}

.decoration--cards::after {
  content: "";
  position: absolute;
  height: 538px;
  min-width: 700px;
  background-color: #ebebeb;
  top: -93px;
  right: -745px;
}

.decoration--blog::before {
  content: "";
  position: absolute;
  height: 600px;
  min-width: 700px;
  background-color: #ebebeb;
  top: 0px;
  left: -369px;
}

.men {
  position: relative;
  height: 183px;
}

.men__title {
  position: relative;
  letter-spacing: 2px;
  display: block;
  font-size: 25px;
  left: 11px;
  top: 88px;
}

.men__title::after {
  content: "";
  position: relative;
  display: block;
  width: 372px;
  background-color: #818181;
  height: 3px;
  top: 23px;
  left: 2px;
}

.women {
  position: relative;
  height: 174px;
}

.women__title {
  margin: 20px 0;
  position: relative;
  display: block;
  font-size: 26px;
  left: 11px;
  top: 77px;
}

.women__title::after {
  content: "";
  position: relative;
  display: block;
  width: 372px;
  background-color: #818181;
  height: 3px;
  top: 20px;
  left: 2px;
}

.menWomen__caption {
  position: absolute;
  top: 0;
  bottom: 47px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.menWomen__title {
  font-size: 44.86px;
  font-weight: 400;
  transform: translateY(8px);
}

.card {
  flex: 1;
  position: relative;
  margin-right: 28px;
  transform: translateY(2px);
}

.card__caption {
  transform: translate(-2px, -1px);
  margin-bottom: 24px;
}

.card__caption::after {
  content: "";
  position: relative;
  display: block;
  width: 274px;
  color: #818181;
  height: 2px;
  top: 14px;
  left: -2px;
}

.card__price {
  margin: 0;
  font-size: 21px;
}

.card__opinion {
  margin: 0;
  font-size: 13px;
  transform: translateY(10px);
}

.card__opinion > .far {
  margin-right: 3px;
}

.card__opinion > .fas {
  margin-right: 3px;
  color: #ffc861;
}

.cards__header {
  margin-top: 44px;
}

.cards__title {
  display: inline-block;
}

.cards__element {
  display: inline-block;
  text-decoration: none;
  color: #818181;
  font-size: 22px;
  letter-spacing: 3px;
  margin: 10px 8px 0 14px;
  font-weight: 100;
}

.cards__element--active {
  color: #3a3a3a;
}

.cards__element::after {
  position: relative;
  content: "";
  display: block;
  width: 311px;
  background-color: #818181;
  height: 3px;
  top: -6px;
  left: -1px;
}

.cards__button {
  display: inline-block;
  position: relative;
  right: -191px;
  top: -9px;
}

.cards__wrapper {
  display: flex;
  margin: 37px 12px;
}

.blog {
  margin-top: 84px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.blog__title {
  margin: 61px 0 61px 11px;
  font-size: 26px;
  letter-spacing: 2.5px;
  font-weight: 00;
}

.blog__title::after {
  content: "";
  position: relative;
  display: block;
  width: 372px;
  background-color: #818181;
  height: 3px;
  top: 19px;
  left: 2px;
}

.article {
  display: flex;
  margin-bottom: 68px;
}

.article__wrapper {
  flex: 1;
  margin-left: 15px;
}

.article__title {
  margin: 22px 0 16px 7px;
  font-size: 16px;
  letter-spacing: 1px;
}

.article__paragraph {
  margin-left: 9px;
  line-height: 1.5;
}

@media (min-width: 768px) and (max-width: 1250px) {
  .display--none {
    display: none;
  }
  .navbar__row {
    position: relative;
    width: 100%;
    z-index: 4;
  }
  .navbar__element {
    position: relative;
  }
  .navbar__element--logo {
    transform: translate(30px, 10px);
  }
  .navbar__element--img {
    max-width: 170px;
    top: 16px;
    left: 5px;
  }
  .navbar__element--form {
    left: 80px;
    max-width: 40%;
  }
  #search {
    position: absolute;
    left: 0;
    top: 12px;
  }
  .btn__search {
    position: absolute;
    right: 0;
  }
  .menu__wrapper--hamburger {
    display: block;
    border: solid 1px #fff;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    text-align: center;
    transform: translate(40px, 16px);
  }
  .menu__wrapper--hamburger:hover .nmenu__element > ul {
    display: block;
  }
  .menu__hamburger {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transform: translateY(8px);
  }
  .menu__hamburger::before {
    transform: translate(-18px, 10px);
  }
  .menu__hamburger::after {
    transform: translate(-18px, -10px);
  }
  .menu__hamburger::before, .menu__hamburger::after {
    content: "";
    position: absolute;
    border-radius: 10px;
    width: 35px;
    height: 2px;
    background-color: #fff;
  }
  .menu {
    z-index: 3;
  }
  .menu__element {
    position: absolute;
    display: none;
    left: -12px;
    top: 74px;
    width: 50%;
    z-index: 3;
  }
  .menu__element > ul {
    background-color: black;
    display: block;
  }
  .menu__element--active {
    display: block;
  }
  .menu__item {
    width: 100%;
  }
  .menu__item--home::before {
    width: 100%;
  }
  .menu__cart {
    position: absolute;
    display: inline-block;
    right: 0px;
    transform: translate(0px, -47px);
  }
  .carusel__caption h1 {
    margin: 0;
    font-size: 70px;
  }
  .carusel__caption h2 {
    font-size: 38px;
  }
  .carusel__caption--new {
    font-size: 20px;
  }
  .carusel__caption--for {
    font-size: 30px;
  }
}

/*# sourceMappingURL=style.css.map */