$color-red: #db3838;
$color-hoverRed: #692727;
$color-hoverGray: #949393;
$color-white: #fff;
$color-lightGray: #e1e1e1;
$color-gray: #ebebeb;
$color-yellow: #ffc861;
$color-darkGray: #3a3a3a;
$color-darkGray2: #818181;

$color-black: #000;

*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: myriad-pro, sans-serif;
	margin: 0;
	color: $color-darkGray;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.desktop__display--none {
	display: none;
}

@media (min-width: 768px) and (max-width: 1250px) {
	
	.body {
		min-width: 768px;
		width: 100%;
	}
	.container {
		width: 90%;
	}

}