$color-red: #db3838;
$color-white: #fff;
$color-lightGray: #e1e1e1;
$color-gray: #ebebeb;
$color-darkGray: #3a3a3a;
$color-black: #000;

*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: myriad-pro, sans-serif;
	margin: 0;
	color: $color-darkGray;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.btn {
	color: $color-white;
	background-color: $color-red;
	border: $color-red;
}


.head {
	display: flex;
	width: 100%;
	height: 45px;
	margin: 0;
}

.head__column {
	display: inline-block;
	flex: 1;
	text-align: center;
	margin: 0;
	border: 1px solid $color-lightGray;
	& > p {
		font-size: 14px;
	}
}

.navbar__row {
	position: relative;
	height: 135px;
	display: flex;
	width: 100%;
	z-index: 2;
}

.navbar__element {
	position: relative;
	display: inline-flex;
	margin: 0;
	align-items: center;
	justify-content: center;
	
	&--logo {
		flex: 1;
		height: 134px;
		max-width: 275px;
		background-color: $color-white;
		transform: translate(-29px, 11px);
	}
	
	&--img {
		width: 210px;
		transform: translate(-6px, -1px);
	}
	
	&--form {
		flex: 3;
		max-width: 604px;
		height: 52px;
		border: 1px solid $color-lightGray;
		transform: translate(66px, 43px);
	}
	
	&--search {
		display: inline-flex;
		width: 313px;
	}
	
	&--toggle {
		& > a {
			display: flex;
			width: 222px;
			position: relative;
			text-decoration: none;
			color: $color-darkGray;
			height: 52px;
			transform: translate(48px, 14px);
			&::before {
				content: " ";
				background-color: $color-darkGray;
				height: 19px;
				width: 1px;
				transform: translate(-47px, 2px);
			}
			& > i {
				margin-left: 43px;
			}
		}
		li {
			list-style-type: none;
			border-radius: 3px;
			margin-top: 5px;
			padding: 5px;
			background-color: $color-white;
			&:hover {
				background-color: $color-red;
			}
		}
		&:hover .navbar__element--list {
			cursor: pointer;
			display: block;
		}
	}
	
	&--list {
		position: absolute;
		background-color: white;
		padding: 0;
		display: none;
		margin: 0;
		width: 220px;
		a {
			text-decoration: none;
			color: $color-darkGray;
		}
	}
	
	&--social-media {
		justify-content: flex-end;
		flex: 1;
	}
}

#search {
	width: 287px;
	height: 26px;
	border: none;
	font-size: 14px;
	transform: translate(14px, -1px);
}

.btn-search {
	display: inline-block;
	width: 71px;
	height: 54px;
	font-size: 20px;
	color: $color-white;
	background-color: $color-red;
	border: 1px solid black;
	transform: translateX(1px);
}

.social-media-icon {
	text-decoration: none;
	color: $color-darkGray;
	font-size: 20px;
	width: 25px;
	height: 25px;
	border: $color-darkGray solid 1px;
	padding: 7px;
	border-radius: 50%;
	margin-left: 13px;
	transform: translate(-14px, 5px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 74px;
	background-color: $color-black;
	z-index: 1;
}

.menu__element {
	position: relative;
	display: inline-block;
	width: 75%;
	height: 74px;
	ul {
		display: flex;
		flex-direction: row;
		position: relative;
		margin: 0;
		padding: 0;
		left: 12px;
		li {
			list-style-type: none;
			text-align: center;
		}
		li:hover {
			background-color: $color-red;
			color: $color-white;
		}
	}
}

.menu__item {
	text-decoration: none;
	font-size: 22.50px;
	font-weight: 300;
	color: $color-white;
	height: 74px;
	display: flex;
	justify-content: center;
	align-items: center;

	&--home {
		width: 91px;
		transform: translateX(4px);
		&::before {
			position: absolute;
			content: " ";
			width: 91px;
			height: 8px;
			background-color: $color-red;
			transform: translate(-4px, 33px);
		}
	}
	&--shop {
		width: 128px;
	}

	&--fetures {
		width: 124px;
	}

	&--megaGroup {
		width: 210px;
	}

	&--about {
		width: 129px;
	}

	&--blog {
		width: 107px;
	}

	&--contact {
		width: 133px;
	}
}

.menu__cart {
	position: relative;
	display: inline-block;
	background-color: $color-red;
	width: 229px;
	height: 74px;
	transform: translate(53px, -2px);
}

.menu__item--cart {
	font-size: 20px;
	i {
		font-size: 17px;
		position: relative;
		left: -11px;
	}
}

@keyframes carusel {
	0% { opacity: 0; }
	5% { opacity: 1; }
	95% { opacity: 1; }
	100% { opacity: 0; }
}

.hero {
	position: relative;
	width: 100%;
	margin: 0 auto;
	height: 608px;
	color: $color-white;
	justify-content: center;
}

.carusel__item {
	position: absolute;
	display: none;
}

.carusel__item--active {
	display: block;
	animation: carusel 4s;
}

.btn__carusel {
	position: absolute;
	outline: none;
	color: $color-white;
	font-size: 47px;
	background: none;
	border: $color-white 5px solid;
	border-radius: 50%;
	top: 240px;
	width: 66px;
	height: 66px;
	z-index: 2;

	&--left {
		left: 31px;
	}
	
	&--right {
		right: 31px;
	}
}

.carusel__image {
	width: 100%;
	height: 608px;
	object-fit: cover;
	background-size: cover;
}

.carusel__caption {
	position: absolute;
	text-align: center;
	top: 138px;
	bottom: 0;
	right: 0;
	left: 0;

	h1 {
		margin: 0;
		font-size: 86px;
	}

	h2 {
		margin: 0;
		font-size: 43px;
		transform: translateY(9px);
	}

	&--textCenter {
		display: flex;
		justify-content: center;
		align-items: center;
		top: -65px;
	}

	&--new {
		margin: 0;
		font-size: 25px;
	}

	&--for {
		margin: 0;
		font-size: 34px;

		&::before {
			content: "";
			position: relative;
			background-color: $color-white;
			display: inline-block;
			width: 124px;
			height: 2px;
			transform: translate(-16px, -8px);
		}

		&::after {
			content: "";
			position: relative;
			background-color: $color-white;
			display: inline-block;
			width: 124px;
			height: 2px;
			transform: translate(13px, -8px);
		}
	}
}


.tags__text {
	height: 118px;
	& > ul {
		position: relative;
		left: 28px;
		top: 15px;
		width: 100%;
		padding: 0;
		& > li {
			display: inline-block;
			list-style-type: none;
			margin: 0 auto;
			font-size: 22px;
		}
	}
}

.tags__link--icon {
	font-size: 15px;
	margin-right: 9px;
	transform: translateY(-2px);
}

.tags__link {
	text-decoration: none;
	margin-right: 32px;
	color: $color-darkGray;
	
	&--dots {
		&::after {
			content: "";
			position: relative;
			display: inline-block;
			width: 2px;
			height: 10px;
			border-top: black solid 2px;
			border-bottom: black solid 2px;
			transform: translateX(17px);
		}
	}
	
	&--p {
		margin-right: 9px;
	}
}

.tags__gallery {
	position: relative;
	height: 281px;
	width: 100%;
	display: flex;
	
	&--wrapper {
		flex: 1;
		margin: 0 13px;
	}
	
	&--caption {
		position: absolute;
		text-align: center;
		top: 0;
		transform: translate(118px, 59px);
	}
	
	&--captio-fix {
		transform: translate(124px, 59px);
	}
	
	&--image {
		max-width: 372px;
		height: 100%;
		
		&-center{
			transform: translateX(2px);
		}
	}
	
	&--title {
		position: relative;
		color: $color-white;
		font-weight: 400;
		font-size: 29px;
		top: 0;
		display: flex;
		justify-content: center;
		
		
	}
	
	&--btn {
		position: relative;
		padding: 10px 35px;
		font-size: 15px;
		transform: translate(0px, 10px);
	}
}

.tags__decoration::before {
	content: "";
	position: absolute;
	display: inline-block;
	height: 281px;
	min-width: 700px;
	background-color: $color-gray;
    left: -712px;
}


@media (min-width: 768px) and (max-width: 1250px) {
	
	.display--none {
        display: none;
	}
	
	.navbar__row {
		position: relative;
		width: 100%;
		z-index: 4;
	}

	.navbar__element {
		position: relative;
		&--logo {
			transform: translate(30px, 10px);
		}
		&--img {
			max-width: 170px;
			top: 16px;
			left: 5px;
		}
		&--form {
			left: 80px;
			max-width: 40%;
		}
	}

	#search {
		position: absolute;
		left: 0;
		top: 12px;
	}
	.btn-search {
		position: absolute;
		right: 0;
	}
	.wrapper--hamburger {
		display: block;
		border: solid 1px $color-white;
		border-radius: 5px;
		width: 45px;
		height: 45px;
		text-align: center;
		transform: translate(40px, 16px);
		&:hover {
			.nmenu__element {
				& > ul {
					display: block;
				}
			}
		}
	}

	.hamburger {
		position: relative;
		display: inline-block;
		border-radius: 10px;
		width: 35px;
		height: 2px;
		background-color: $color-white;
		transform: translateY(8px);
		&::before {
			transform: translate(-18px, 10px);
		}
		&::after {
			transform: translate(-18px, -10px);
		}
		&::before, &::after {
			content: "";
			position: absolute;
			border-radius: 10px;
			width: 35px;
			height: 2px;
			background-color: $color-white;
		}
	}

	.menu {
		z-index: 3;
	}

	.menu__element {
		position: absolute;
		display: none;
		left: -12px;
		top: 74px;
		width: 50%;
		z-index: 3;
		& > ul {
			background-color: black;
			display: block;
		}
	}

	.menu__element--active {
		display: block;
	}

	.menu__item {
		width: 100%;

		&--home {

			&::before {
				width: 100%;
			}
		}
	}

	.menu__cart {
		position: absolute;
		display: inline-block;
		right: 0px;
		transform: translate(0px, -47px);
	}
	
	.carusel__caption {
		h1 {
			margin: 0;
			font-size: 70px;
		}
		h2 {
			font-size: 38px;
		}

		&--new {
			font-size: 20px;
		}

		&--for {
			font-size: 30px;
		}
	}
}
